/* #region Debug */
.debug header {
    /* background-color: red; */
    /* height: 200px; */
}

.debug main {
    background-color: aqua;
    height: 800px;
}

.debug footer {
    background-color: green;
    height: 300px;
}

/* #endregion Debug */

/* #region Utilities */
:root {
    --booleando-primary: rgba(255, 105, 0, 1);
    --booleando-dark: rgba(26, 26, 26, 1);
    --booleando-lighter: rgba(255, 255, 255, 1);
}

.container {
    width: 70%;
    margin: auto;
}

.d-flex {
    display: flex;
}

/* #endregion Utilities */

/* #region Common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: var(--booleando-primary);
    height: 50px;
    position: fixed;
    width: 100%;
    z-index: 1;
}

nav {
    align-items: center;
}

main{
    padding-top: 3rem;
}

footer{
    background-color: var(--booleando-dark);
    color: var(--booleando-lighter);
}

h4{
    padding-bottom: 0.5rem;
}
/* #endregion Common */

/* #region Header */
.gender {
    display: flex;
    list-style: none;
    color: var(--booleando-lighter);
    gap: 1rem;
    width: 10%;
}

.logo {
    height: 50px;
    padding: 0.5rem;

}

.logo-box {
    width: 80%;
    text-align: center;
}

.icon {
    color: var(--booleando-lighter);
    gap: 0.5rem;
    width: 10%;
    justify-content: end;
}

/* #endregion Header */

/* #region main */

.box {
    height: 640px;
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;
    position: relative;
}

.relaxed-fit {
    background-image: url(../img/1.webp);
}

.roses-tee {
    background-image: url(../img/2.webp);
}

.voglia-colori {
    background-image: url(../img/3.webp);
}

.tee-unisex {
    background-image: url(../img/4.webp);
}

.stripe-bodice {
    background-image: url(../img/5.webp);
}

.maglione-black {
    background-image: url(../img/6.webp);
}

.chart {
    width: 33%;
    margin: 3rem 0.5rem;
}

.discount {
    background-color: red;
    color: white;
    font-size: small;
    padding: 0.2rem;
    position: absolute;
    bottom: 20px;
}

.sostenibility {
    background-color: green;
    color: white;
    font-size: small;
    padding: 0.2rem;
    position: absolute;
    bottom: 20px;
    left: 40px;
}

.sostenibility-line {
    background-color: green;
    color: white;
    font-size: small;
    padding: 0.2rem;
    position: absolute;
    bottom: 20px;
    left: 0;
}

.hearts-back {
    background-color: white;
    padding: 1rem;
    position: absolute;
    top: 40px;
    right: 0;
}

.red-mark {
    color: red;
}

.line-throu {
    text-decoration: line-through;
}

/* #endregion main */

/* #region footer */
.credits{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.social{
    padding-top: 0.5rem;
}
/* #endregion footer */